body {
    width:100%;
    height:100%;
    margin:0px;
}

.body-container {
    display:table;
    width:100%;
    height:100%;
    margin:0;
}

.navpanel {
    display:table-cell;
    width:300px;
    height:100%;
    border:dashed;
    background-color:blue;
    text-align:center;
}

.container {
    display:table-cell;
    border:dashed;
    height:100%;
    padding-left:100px;
}
