body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.upper-Container {
    display:table;
    height:100px;
    width:100%;
}

.name-Container {
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

.search-Container {
    width:250px;
    display:table-cell;
    vertical-align:middle;
}

.search-form {
    display:table;
}

.search-input {
    display:inline;
}

.nav-Container {
    height:50px;
    display:table;
    width:100%;
    text-align:center;
}

.name {
    margin-top:0;
    vertical-align:middle;
}

.navbar_ {
    list-style-type:none;
    display:table-cell;
    vertical-align:middle;
    margin:0;
    padding-left:100px;
    background:linear-gradient(#454545, #353535);
}

.navbar-item {
    padding-left:20px;
    padding-right:20px;
    float:left;
    display:inline;
    border-width:1px;
    border-style:solid;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-color:lightgray;
    color:lightgray;
    background:none;
}

.navbar-item:hover {
    color:white;
}

.navbar-item:first-of-type {
    border-left-style:solid;
    border-width:1px;
}

.navbar-item:last-of-type {
    float:right;
    border-right:none;
}
