<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/AdminPanel.css")
</head>
<body>
    <div class="body-container">
        <div class="navpanel">
            test
        </div>
        <div class="container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
