@model IEnumerable<Webshop.Models.Category>
<ul class="navbar_">

    @foreach(var item in Model)
    {

        <li class="navbar-item">
            <h4>
                @Html.DisplayFor(modelItem => item.Name)
            </h4>
        </li>
    }

    <li class="navbar-item">
        <h4>Shopping basket</h4>
    </li>
</ul>
